<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/home.css")">

<section id="introduction">
  <h1>Convert Schemas to Java code</h1>

  <div id="steps" class="wrapper doc">
    <h2>Steps:</h2>
    <form id="schema-form">
      <div id="endpoint-container">
        <label for="endpoint">1.- Select a wikibase endpoint: </label>
        <input id="endpoint-input" type="text" name="endpoint" value="https://weso-group.wiki.opencura"><br>
      </div>

      <div id="schema-container">
        <label for="schema">2.- Select an entity schema: </label>
        <input id="schema-input" type="text" name="schema" value="Schema..."><br>
      </div>
      <input type="submit" value="Load schema">
    </form>

    <h3>Or....</h3>
    <p>Introduce your shex-lite code directly below:</p>
  </div>
</section>

<section id="code-generation-section">

  <div id="shexl-input">
    <h2>Shexl input</h2>
    <textarea name="shexl-text" rows="8" cols="80"></textarea>
  </div>

  <button id="generate-code-btn" type="button" name="button">Generate code</button>

  <div id="code-output">
    <h2>Code output</h2>
    <textarea name="code-text" rows="8" cols="80"></textarea>
  </div>

</section>
